# C#
*.exe
*.dll
*.pdb
*.mdb
*.obj
*.appx
*.appxbundle
*.appxupload

# Node
node_modules/

# Visual Studio
.vs/
.vscode/
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.ncb
*.sdf
*.opensdf
*.idb
*.booproj
*.pidb
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
